<!DOCTYPE html>
<head>
<meta CHARSET="utf-8">
<title>Documento sin título</title>

<meta name="viewport" CONTENT="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
<link REL="stylesheet" HREF="style.css">
</head>

<body>
<script SRC="phonegap.js"></script>
<a HREF="CreditosApp.html"><div STYLE="background-image url(Imagen1.jpg)" CLASS="imagengrande"></div></a>
</body>
</html>
