@charset "utf-8";
/* CSS Document */

*{padding: 0; margin: 0;}

.imagengrande {height: 100vh; background-size: cover; background-position: center; background-repeat:no-repeat;}

a {display: block;}

img, input {width: 100%;}

form {text-align: center}

input {width: calc(100% - 20px); padding: 5px;}

.boton {width: calc(100% - 40px);}


